
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="race-wrapper">
        <h2>Les prochaines cyclosportives</h2>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
    <% @races.each do |race| %>
      <div class="col-sm-4">
        <div class="card-event" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path  race.picture %>');">
          <div class="card-category-event"><p><%= race.date %> : <%= race.place %></p></div>
          <div class="card-description-event">
            <h2><%= race.name %></h2>
            <p><span style="color:white; font-size: 30px"><strong><%= race.distance %></strong> kilomètres</span></p>
          </div>
          <div class="card-price"><p><%= race.price %> €</p></div>
          <a class="card-link-event" href="races/<%= race.id %>"></a>
        </div>
        <br>
      </div>
      <% end %>
    </div>
  </div>
</div>
