<div class="container profile">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 profile-wrapper">
      <% if @user.avatar? %>
      <%= cl_image_tag @user.avatar.path, width: 240, height: 240, crop: :fill, class: 'avatar-profile' %>
      <% end %>
      <div class="profile-information">
        <h2>Votre compte</h2>
        <br>
        <p><strong>Prénom :</strong><span style="color:#F75100"> <%= @user.first_name %></span></p>
        <p><strong>Nom :</strong><span style="color:#F75100"> <%= @user.last_name %></span></p>
        <p><strong>Email :</strong><span style="color:#F75100"> <%= @user.email %></span></p>
        <p><strong>Téléphone :</strong><span style="color:#F75100"> <%= @user.phone %></span></p>
        <p><strong>Adresse :</strong><span style="color:#F75100"> <%= @user.adress %></span></p>
        <p><strong>Code Postal :</strong><span style="color:#F75100"> <%= @user.postal_code %></span></p>
        <p><strong>Ville :</strong><span style="color:#F75100"> <%= @user.city %></span></p>
        <p><strong>Date de naissance :</strong><span style="color:#F75100"><%= @user.birth_day %></span></p>
        <% if @user.photo? %>
        <ul class="list-inline">
          <li><p><strong>Votre certificat médical :</strong></p></li>
          <li><%= cl_image_tag @user.photo.path, width: 100 %></li>
        </ul>
        <% end %>
        <ul class="list-inline" style="padding-top:2em">
          <li><%= link_to "S'inscrire à un événement", races_path, class: 'btn button-orange pulse' %></li>
          <li><%= link_to "Editer votre profil", edit_user_path, class: 'btn btn-medium-grey' %></li>
        </ul>
        <p>
        <br>
        <span style="color:red; font-size:15px;">Veuillez completer votre profil et verifier l'exactitude des informations</span></p>
      </div>
    </div>
  </div>
</div>
